[Unit]
Description=Run Time Synchronization Check every 10 minutes
Requires=check-time-sync.service

[Timer]
OnBootSec=2min
OnUnitActiveSec=10min
Unit=check-time-sync.service

[Install]
WantedBy=timers.target
